[core]
        quotepath = off
        pager = delta
[user]
        name = Eugene Dzhumak
        email = elforastero@ya.ru
        #signingkey = DF9F7E98D709CD4C9097FE673716F24E0A8F01B9
[commit]
        #gpgsign = true
[tag]
        #gpgSign = true
[pull]
        rebase = true
[push]
        default = current
[fetch]
        prune = true
[interactive]
        diffFilter = delta --color-only
[delta]
        navigate = true
        features = side-by-side line-numbers decorations
        whitespace-error-style = 22 reverse
[blame]
	ignoreRevsFile = .git-blame-ignore-revs
	markIgnoredLines = true
