[user]
        name = Eugene Dzhumak
        email = elforastero@ya.ru
        signingkey = DF9F7E98D709CD4C9097FE673716F24E0A8F01B9
[commit]
        gpgsign = true
[tag]
        gpgSign = true
[pull]
        rebase = true
[push]
        default = current
[fetch]
        prune = true
[diff]
        tool = phpstorm
[difftool "phpstorm"]
        cmd = phpstorm diff $LOCAL $REMOTE
[merge]
        tool = phpstorm
[mergetool "phpstorm"]
        cmd = phpstorm merge $LOCAL $REMOTE $BASE $MERGED
        trustExitCode = true
