[user]
        name = Eugene Dzhumak
        email = elforastero@ya.ru
[pull]
        rebase = true
[push]
        default = current
[fetch]
        prune = true
[diff]
        tool = phpstorm
[difftool "phpstorm"]
        cmd = phpstorm diff $LOCAL $REMOTE
[merge]
        tool = phpstorm
[mergetool "phpstorm"]
        cmd = phpstorm merge $LOCAL $REMOTE $BASE $MERGED
        trustExitCode = true
